{
  "presets": ["@babel/preset-env"], // identifica o ambiente: browser, server etc.. Ele converte as features de acordo com o ambiente
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ]
}
